{{yield}}






<div class="row col-sm-7 article-tile">
  <div class="">


  <div>
    <img class="article-image" src={{article.image}}>
  </div>

  <div class="clip-details">

  <div class="article-title">
    <h2>{{article.title}}</h2>
  </div>
<br>
  <div class="article-desc">
    <h5>{{article.description}}</h5>
  </div>

  <div class="article-author">
    {{article.author}}
  </div>
</div>


<div class="buttons">

  {{update-article article=article update="update"}}

  <div class="delete-but">

    <button{{action 'delete' article}}>Delete Article</button>
  </div>
</div>

</div>
</div>
